mpd/.config/mpd/*
!mpd/.config/mpd/mpd.conf

# emacs

emacs/.emacs.d/*
!emacs/.emacs.d/*.org
!emacs/.emacs.d/init.el
!emacs/.emacs.d/etc/
emacs/.emacs.d/etc/*
!emacs/.emacs.d/etc/yasnippet/
.yas-compiled-snippets.el

tmux/.tmux/plugins
fish/.config/fish/fishd*
nvim/.config/nvim/.netrwhist
ranger/.config/ranger/plugins/
ranger/.config/ranger/__pycache__/
qutebrowser/.config/qutebrowser/bookmarks
qutebrowser/.config/qutebrowser/autoconfig.yml
qutebrowser/.config/qutebrowser/quickmarks
termite/.config/gtk-3.0/bookmarks
termite/.config/gtk-3.0/settings.ini

tags
