window {
	background-color: rgba(--wofi-rgb-color0,1);
	font-family: "Iosevka Nerd Font";
	transition: 0.1s ease-in-out;
	font-size: 140%;
}
#input image {
	color: rgba(0,0,0,0)
}
#input {
	margin-bottom: 20px;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 15px;
	border: 3px solid --wofi-color3;
}
label {
	color: --wofi-color13;
	transition: 0.1s ease-in-out;
}
#entry {
	padding: 5px;
	padding-left: 15px;
}
#outer-box {
	border: 3px solid --wofi-color2;
	transition: 0.1s ease-in-out;
}
