window {
	background-color: rgba(--wofi-rgb-color0,1);
	font-family: iosevka;
	transition: 0.1s ease-in-out;
	font-size: 130%;
}
#input image {
	color: rgba(0,0,0,0)
}
#input {
	margin-bottom: 20px;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 10px;
	box-shadow: none;
	background-color: --wofi-color0;
	border: 3px solid --wofi-color3;
	border-radius: 0px;
	transition: 0.1s ease-in-out;
}
#input:focus {
	background-color: rgba(--wofi-rgb-color4,0.2);
	margin-left: 10px;
	margin-right: 10px;
	transition: 0.1s ease-in-out;
}
label {
	color: --wofi-color13;
	transition: 0.1s ease-in-out;
}
#entry {
	margin-left: 50px;
	margin-right: 50px;
	padding: 5px;
}
#outer-box {
	border: 3px solid --wofi-color2;
	transition: 0.1s ease-in-out;
}
