#!/bin/sh

#wal -R
#~/.config/wpg/wp_init.sh
wpg -m
[ -f /usr/bin/setxkbmap ] && setxkbmap -layout us -variant intl
#[ -f /usr/bin/setxkbmap ] && setxkbmap -layout us -variant intl -option ctrl:nocaps,shift:both_capslock
# xmodmap ~/.Xmodmap || true
# xcape -t 200 -e "Shift_L=Escape;Shift_R=Escape;Hyper_L=Tab;Hyper_R=backslash;Control_L=Escape"
[ -f /usr/bin/xset ] && xset r rate 250 55
[ -f /usr/bin/unclutter ] && unclutter --timeout 3 --ignore-scrolling &
[ -f ~/scripts/touchpad_toggle.sh ] && ~/scripts/touchpad_toggle.sh
[ -f /usr/bin/xset ] && xset -dpms
[ -f /usr/bin/xset ] && xset s off
[ -f /usr/bin/xset ] && xset -b

[ "$XDG_CURRENT_DESKTOP" = "KDE" ] || export QT_QPA_PLATFORMTHEME="gtk2"

# [ -f /usr/bin/xrdb ] && xrdb ~/.Xresources
# ~/.config/polybar/launch.sh

[ -f /usr/bin/dunst] && dunst &
[ -f /usr/bin/udiskie ] && udiskie --use-udisks2 -a &

# HUD in DXVK games (work with steam games)
# export DXVK_HUD=1
# export DXVK_HUD="devinfo,fps,frametimes,submissions,drawcalls,memory,gpuload,version,api,compiler"
# export DXVK_HUD="full"
# ACO backend for mesa
export RADV_PERFTEST="aco"
