! URxvt
!URxvt.font:xft:FuraCode\ Nerd\ Font:style=Regular:size=9:antialias=true:hinting=true
!URxvt.font:xft:Overpass\ Mono:style:Regular:size=9
!URxvt.font: xft:Iosevka\ Nerd\ Font:style=Regular:size=11:antialias=true:hinting=true
URxvt.font: xft:Iosevka\ Nerd\ Font\ Mono:style=Italic:size=11:antialias=true:hinting=true
!URxvt.font: xft:Fixed:size=11:antialias=true:hinting=true
!Emacs.font: xft:Iosevka\ Nerd\ Font:style=Italic:size=11:antialias=true:hinting=true

rofi.font: iosevka nerd font italic 14
!rofi.font: fixed 16

URxvt.scrollBar: false
Rxvt.iso14755:	false
URxvt.iso14755_52: false
URxvt.internalBorder: 10

URxvt.perl-ext:	  default,matcher,resize-font
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

URxvt*skipBuiltinGlyphs:    true

! rofi
rofi.modi: run
rofi.color-enabled: true
rofi.padding: 5
rofi.location: 0
rofi.fuzzy: true
rofi.separator-style: solid
rofi.hide-scrollbar: true
rofi.show-icons:true
